Source: solr5
Section: java
Priority: optional
Maintainer: Rémi BUISSON <remi.buisson@cdiscount.com>
Homepage: http://lucene.apache.org
Standards-Version: 3.9.5
Build-Depends:
  debhelper (>= 9),
  javahelper,
  default-jdk,
  ant,
  ivy
Vcs-Browser: https://github.com/Cdiscount/lucene-solr.git

Package: solr5
Architecture: all
Depends:
 default-jre,
 lsof,
 unzip,
 ${misc:Depends}
Conflicts: solr-tomcat, solr-tomcat7
Description: Enterprise search server based on Lucene3 - Jetty integration
 Solr is an open source enterprise search server based on the Lucene
 Java search library, with XML/HTTP and JSON APIs, hit highlighting,
 faceted search, caching, replication, and a web administration
 interface. It runs in a Java servlet container such as Tomcat.
 .
 This package provides the Jetty integration files for Solr.
